blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    }
.login-container{
    display: flex;
}

.login-container .login-card{
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url("../../Public/img/Login/0w3pdr.jpg") 50%/cover no-repeat;
}
.login-container .login-form-sty{
    width: 30%;
    display: block;
    margin: 10px 0 10px 0;
    position: absolute;
    right: 0px;
}